<div class="jumbotron">
  <div class="container">
    <h1>Got Foos?</h1>
    <p>Your one stop shop for the foos life!</p>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-4">
          <h2>Register A Player!</h2>
          <p><a class="btn btn-default" ui-sref="addPlayer" role="button">Add Player! &raquo;</a></p>
      </div>
    <div class="col-md-4">
      <h2>Register Your Team!</h2>
      <p><a class="btn btn-default" ui-sref="addTeam" role="button">Register! &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Add Game!</h2>
      <p><a class="btn btn-default" ui-sref="addGame" role="button">Add Game! &raquo;</a></p>
    </div>
  </div>

  <hr>
