<p class="display-1 page-header">League Standings!</p>

<table class="table table-striped">
    <thead>
        <th class="clickable" ng-click="ls.sortData('rank')">
            Rank
        </th>
        <th class="clickable" ng-click="ls.sortData('team_name')">
            Team Name
        </th>
        <th class="clickable" ng-click="ls.sortData('wins')">
            Wins
        </th>
        <th class="clickable" ng-click="ls.sortData('losses')">
            Losses
        </th>
        <th class="clickable" ng-click="ls.sortData('goals_for')">
            Goals-For
        </th>
        <th class="clickable" ng-click="ls.sortData('goals_against')">
            Goals-Against
        </th>
        <th class="clickable" ng-click="ls.sortData('win_percentage')">
            Win Percentage
        </th>
        <th class="clickable" ng-click="ls.sortData('goals_for_percentage')">
            Goals-For Percentage
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="team in ls.standings | orderBy: ls.sortColumn: ls.asc">
            <td>
                {{team.rank}}
            </td>
            <td>
                <a ui-sref="teamShow({id: team.team_id})">{{team.team_name}}</a>
            </td>
            <td>
                {{team.wins}}
            </td>
            <td>
                {{team.losses}}
            </td>
            <td>
                {{team.goals_for}}
            </td>
            <td>
                {{team.goals_against}}
            </td>
            <td>
                {{team.win_percentage | percent}}
            </td>
            <td>
                {{team.goals_for_percentage | percent }}
            </td>
        </tr>
    </tbody>
</table>
