<p class="display-1 page-header">Player Standings!</p>

<table class="table table-striped">
    <thead>
        <th class="clickable" ng-click="ps.sortData('rank')">
            Rank
        </th>
        <th class="clickable" ng-click="ps.sortData('name')">
            Player Name
        </th>
        <th class="clickable" ng-click="ps.sortData('wins')">
            Wins
        </th>
        <th class="clickable" ng-click="ps.sortData('losses')">
            Losses
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_for')">
            Goals-For
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_against')">
            Goals-Against
        </th>
        <th class="clickable" ng-click="ps.sortData('win_percentage')">
            Win Percentage
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_for_percentage')">
            Goals-For Percentage
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="player in ps.standings | orderBy: ps.sortColumn: ps.asc">
            <td>
                {{player.rank}}
            </td>
            <td>
                <a ui-sref="playerShow({id: player.player_id})">{{player.name}}</a>
            </td>
            <td>
                {{player.wins}}
            </td>
            <td>
                {{player.losses}}
            </td>
            <td>
                {{player.goals_for}}
            </td>
            <td>
                {{player.goals_against}}
            </td>
            <td>
                {{player.win_percentage | percent}}
            </td>
            <td>
                {{player.goals_for_percentage | percent }}
            </td>
        </tr>
    </tbody>
</table>
