<p class="display-1 page-header">{{ts.teamRow[0].team_name}} Record</p>

<table class="table table-striped">
    <thead>
        <th>
            Team Name
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
        <th>
            Goals-For
        </th>
        <th>
            Goals-Against
        </th>
        <th>
            Win Percentage
        </th>
        <th>
            Goals-For Percentage
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="team in ts.teamRow">
            <td>
                {{team.team_name}}
            </td>
            <td>
                {{team.wins}}
            </td>
            <td>
                {{team.losses}}
            </td>
            <td>
                {{team.goals_for}}
            </td>
            <td>
                {{team.goals_against}}
            </td>
            <td>
                {{team.win_percentage * 100 | number:0}}%
            </td>
            <td>
                {{team.goals_for_percentage * 100 | number:0 }}%
            </td>
        </tr>
    </tbody>
</table>

<br><br>

<p class="display-1 page-header">{{ts.teamName}} vs Teams</p>

<table class="table table-striped">
    <thead>
        <th class="clickable" ng-click="ps.sortData('name')">
            Team Name
        </th>
        <th class="clickable" ng-click="ps.sortData('wins')">
            Wins Against
        </th>
        <th class="clickable" ng-click="ps.sortData('losses')">
            Losses Against
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_for')">
            Goals-For
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_against')">
            Goals-Against
        </th>
        <th class="clickable" ng-click="ps.sortData('win_percentage')">
            Win Percentage
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_for_percentage')">
            Goals-For Percentage
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="team in ts.stats">
            <td>
                {{team.team_name}}
            </td>
            <td>
                {{team.wins_against}}
            </td>
            <td>
                {{team.losses_against}}
            </td>
            <td>
                {{team.goals_for}}
            </td>
            <td>
                {{team.goals_against}}
            </td>
            <td>
                {{team.win_percentage * 100 | number:0}}%
            </td>
            <td>
                {{team.goals_for_percentage * 100 | number:0 }}%
            </td>
        </tr>
    </tbody>
</table>

<br><br>

<p class="display-1 page-header">{{ts.teamName}} vs Players</p>

<table class="table table-striped">
    <thead>
        <th class="clickable" ng-click="ps.sortData('name')">
            Player Name
        </th>
        <th class="clickable" ng-click="ps.sortData('wins')">
            Wins Against
        </th>
        <th class="clickable" ng-click="ps.sortData('losses')">
            Losses Against
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_for')">
            Goals-For
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_against')">
            Goals-Against
        </th>
        <th class="clickable" ng-click="ps.sortData('win_percentage')">
            Win Percentage
        </th>
        <th class="clickable" ng-click="ps.sortData('goals_for_percentage')">
            Goals-For Percentage
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="person in ts.vsPlayers">
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.wins}}
            </td>
            <td>
                {{person.losses}}
            </td>
            <td>
                {{person.goals_for}}
            </td>
            <td>
                {{person.goals_against}}
            </td>
            <td>
                {{person.win_percentage | percent}}
            </td>
            <td>
                {{person.goals_for_percentage | percent }}
            </td>
        </tr>
    </tbody>
</table>

<p class="display-1 page-header">Goals By Game</p>

<canvas class="goals_graph" id="teamGoalsChart"></canvas>
