<p class="display-1 page-header">{{pshow.player.name}}'s Record</p>

<table class="table table-striped">
    <thead>
        <th>
            Player Name
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
        <th>
            Goals-For
        </th>
        <th>
            Goals-Against
        </th>
        <th>
            Win Percentage
        </th>
        <th>
            Goals-For Percentage
        </th>
    </thead>
    <tbody>
        <tr>
            <td>
                {{pshow.player.name}}
            </td>
            <td>
                {{pshow.player.wins}}
            </td>
            <td>
                {{pshow.player.losses}}
            </td>
            <td>
                {{pshow.player.goals_for}}
            </td>
            <td>
                {{pshow.player.goals_against}}
            </td>
            <td>
                {{pshow.player.win_percentage * 100 | number:0 }}%
            </td>
            <td>
                {{pshow.player.goals_for_percentage * 100 | number:0 }}%
            </td>
        </tr>
    </tbody>
</table>

<p class="display-1 page-header">{{pshow.player.name}} vs Teams</p>

<table class="table table-striped">
    <thead>
        <th>
            Team Name
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
        <th>
            Goals-For
        </th>
        <th>
            Goals-Against
        </th>
        <th>
            Win Percentage
        </th>
        <th>
            Goals-For Percentage
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="team in pshow.vsTeams">
            <td>
                {{team.team_name}}
            </td>
            <td>
                {{team.wins}}
            </td>
            <td>
                {{team.losses}}
            </td>
            <td>
                {{team.goals_for}}
            </td>
            <td>
                {{team.goals_against}}
            </td>
            <td>
                {{team.win_percentage * 100 | number:0 }}%
            </td>
            <td>
                {{team.goals_for_percentage * 100 | number:0 }}%
            </td>
        </tr>
    </tbody>
</table>

<p class="display-1 page-header">{{pshow.player.name}} vs Players</p>

<table class="table table-striped">
    <thead>
        <th>
            Player Name
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
        <th>
            Goals-For
        </th>
        <th>
            Goals-Against
        </th>
        <th>
            Win Percentage
        </th>
        <th>
            Goals-For Percentage
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="person in pshow.stats">
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.wins_against}}
            </td>
            <td>
                {{person.losses_against}}
            </td>
            <td>
                {{person.goals_for}}
            </td>
            <td>
                {{person.goals_against}}
            </td>
            <td>
                {{person.win_percentage * 100 | number:0 }}%
            </td>
            <td>
                {{person.goals_for_percentage * 100 | number:0 }}%
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" ui-sref="playerStandings">Back to Player Standings</a>
